<!DOCTYPE html>
<html>
  <head>
    <title>PokeList</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  <% if Rails.env.development? %>
  <script src="http://localhost:3808/webpack-dev-server.js"></script>
<% end %>
</head>

  <body>
    <%= yield %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  <%= javascript_include_tag *webpack_asset_paths('application') %>
</body>
</html>
